@font-face {
  font-family: 'AvenirNextCyr-Bold';
  src: url("../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.eot");
  src: url("../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.woff2") format("woff2");
  src: url("../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.woff") format("woff");
  src: url("../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.ttf") format("truetype");
  src: url("../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.svg#AvenirNextCyr-Bold") format("svg");
  src: url("../fonts/AvenirNextCyr-Bold/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AvenirNextCyr-Demi';
  src: url("../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.eot");
  src: url("../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.woff2") format("woff2");
  src: url("../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.woff") format("woff");
  src: url("../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.ttf") format("truetype");
  src: url("../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.svg#AvenirNextCyr-Demi") format("svg");
  src: url("../fonts/AvenirNextCyr-Demi/AvenirNextCyr-Demi.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AvenirNextCyr-Heavy';
  src: url("../fonts/AvenirNextCyr-Heavy/AvenirNextCyr-Heavy.eot");
  src: url("../fonts/AvenirNextCyr-Heavy/AvenirNextCyr-Heavy.woff2") format("woff2");
  src: url("../fonts/AvenirNextCyr-Heavy/AvenirNextCyr-Heavy.woff") format("woff");
  src: url("../fonts/AvenirNextCyr-Heavy/AvenirNextCyr-Heavy.ttf") format("truetype");
  src: url("../fonts/AvenirNextCyr-Heavy/AvenirNextCyr-Heavy.svg#AvenirNextCyr-Heavy") format("svg");
  src: url("../fonts/AvenirNextCyr-Heavy/AvenirNextCyr-Heavy.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'AvenirNextCyr-Light';
  src: url("../fonts/AvenirNextCyr-Light/AvenirNextCyr-Light.eot");
  src: url("../fonts/AvenirNextCyr-Light/AvenirNextCyr-Light.woff2") format("woff2");
  src: url("../fonts/AvenirNextCyr-Light/AvenirNextCyr-Light.woff") format("woff");
  src: url("../fonts/AvenirNextCyr-Light/AvenirNextCyr-Light.ttf") format("truetype");
  src: url("../fonts/AvenirNextCyr-Light/AvenirNextCyr-Light.svg#AvenirNextCyr-Light") format("svg");
  src: url("../fonts/AvenirNextCyr-Light/AvenirNextCyr-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: inherit; }

ul > li {
  list-style: none; }

.container {
  max-width: 1200px;
  width: 100%;
  position: relative;
  margin: 0 auto; }

.header-menu {
  background-color: #65a051; }

.wrapper-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .wrapper-menu .nav-cashbox {
    border: 1px solid red;
    color: #fff;
    max-width: 727px;
    width: 100%; }
    .wrapper-menu .nav-cashbox ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
