@import "vars"

@media screen and (max-width: 1200px)


  .header-contacts
    .header-contacts-bg
      display: none

  .wrapper-header-contacts
    ul
      flex-direction: column
      li
        margin-top: 20px


  .wrapper-request
    flex-direction: column
    align-items: center
    .wrapper-video
      margin-top: 35px
      .video-bg
        min-height: 342px


