@import "vars"
@import "fonts"

*
  padding: 0px
  margin: 0px
  box-sizing: border-box

img
  max-width: 100%
  height: auto

a
  text-decoration: none
  color: inherit

ul > li
  list-style: none

.container
  max-width: 1200px
  width: 100%
  position: relative
  margin: 0 auto

.header-menu
  background-color: $accent

.wrapper-menu
  display: flex
  justify-content: space-between
  align-items: center
  .nav-cashbox
    border: 1px solid red
    color: #fff
    max-width: 727px
    width: 100%
    ul
      display: flex
      justify-content: space-between



